---
layout: page
---

<div class="portfolio-item">
  <div class="portfolio-item-video-details">
    <div class="portfolio-item-video">
          {{ video_embed.code }}
    </div>
    <div class="portfolio-item-details">
        <div class="portfolio-item-credits">
          {%- for credit in credits -%}
            <div class="portfolio-item-credits-entry">
              {% comment %} todo: switch over all credits to new "name list" format {% endcomment %}
              {%  if credit.credit.name %}  
                <span class="portfolio-item-credits-role">{{credit.credit.role}}</span>
                <span class="portfolio-item-credits-name">{{credit.credit.name}}</span>
              {%  else  %} {% comment %} credit.credit.names {% endcomment %}
                <div class="portfolio-item-credits-role-multiple">{{credit.credit.role}}</div>
                {%- for name in credit.credit.names -%}
                  <div class="portfolio-item-credits-name-multiple">{{name.name}}</div>
                {% endfor %}
              {%  else  %}
              
              {% endif %}

            </div>
          {%- endfor -%}
        </div>
        <div class="portfolio-item-details-text">
            <div class="portfolio-item-title">{{ my_title }}</div>
            <div class="portfolio-item-description">{{ description | newline_to_br }}</div>
        </div>
    </div>
  </div>


    <div class="portfolio-item-still-grid">
          {%- for still in stills -%}
               <img class="portfolio-item-still"
                    src="{{ still }}"
               />
          {%- endfor -%}

    </div>

</div>

