---
title: {{ title }}
layout: page
---

<div class="portfolio-item">

    <div class="portfolio-item-video">
          {{ video_embed.code }}
    </div>

    <div class="portfolio-item-details">
        <div class="portfolio-item-details-left">
            <div class="portfolio-item-title">{{ title }}</div>
            <div class="portfolio-item-description">{{ description | newline_to_br }}</div>
        </div>
        <div class="portfolio-item-credits">
          {%- for credit in credits -%}
            <div class="portfolio-item-credits-entry">
                 <span class="portfolio-item-credits-name">{{credit.credit.name}}</span>
                 <span class="portfolio-item-credits-role">{{credit.credit.role}}</span>
            </div>
          {%- endfor -%}
        </div>
    </div>

    <div class="portfolio-item-still-grid">
          {%- for still in stills -%}
               <img class="portfolio-item-still"
                    src="{{ still }}"
               />
          {%- endfor -%}

    </div>

</div>

