---
layout: page
path: about
---

<div class="about">
  <!-- Front Page -->
  <div class="about-front-page">
    <div class="about-front-page-text">
      <div class="about-front-page-title">
        {{ about.front_page.title }}
      </div>
      <div class="about-front-page-body">
        {{ about.front_page.body }}
      </div>
    </div>
    <img class="about-front-page-image" src="{{ about.front_page.image }}" />
  </div>

  <!-- Pile 1-->
  <div class="about-pile">
    {% assign num_foreground = 3 %}

    <!-- Background photos -->
    {%- for image in about.bts1.photos offset: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}

    <!-- Foreground photos -->
    {%- for image in about.bts1.photos limit: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container about-pile-image-foreground draggable">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}


    <!-- Nicknacks-->
    {%- for image in about.bts1.nicknacks %}
      <div class="about-pile-transformable draggable nicknack about-pile-image-foreground">
        <img class="draggable-image" src="{{ image }}" />
      </div>
    {%- endfor -%}
  </div>

  <!-- Services -->
  <div class="about-services">
    <div class="about-services-title">
      our services
    </div>
    <div class="about-services-body">
      {%- for service in about.services.services -%}
        <div class="about-service">
          <div class="about-service-title">
            {{ service.title }}
          </div>
          <div class="about-service-description">
            {{ service.desc }}
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>

  <!-- Pile 2-->
  <div class="about-pile">
    {% assign num_foreground = 3 %}

    <!-- Background photos -->
    {%- for image in about.bts2.photos offset: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}

    <!-- Foreground photos -->
    {%- for image in about.bts2.photos limit: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container about-pile-image-foreground draggable">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}


    <!-- Nicknacks-->
    {%- for image in about.bts2.nicknacks %}
      <div class="about-pile-transformable draggable nicknack about-pile-image-foreground">
        <img class="draggable-image" src="{{ image }}" />
      </div>
    {%- endfor -%}
  </div>


  <!-- Call to Action -->
  <div class="about-call">
    <span class="about-call-text">
      interested in collaborating?
    </span>
    <a href="mailto:info@samepagefilms.co" class="about-call-button">
      hit us up
    </a>
  </div>
</div>