---
layout: page
title: OUR WORK
path: about
---

<div class="about">



  <!-- Front Page -->
  <div class="about-front-page">
    <div class="about-front-page-text">
      <div class="about-front-page-title">
        {{ about.front_page.title }}
      </div>
      <div class="about-front-page-body">
        {{ about.front_page.body }}
      </div>
    </div>
    <img class="about-front-page-image" src="/assets/img/alex_temi_silhouette.jpg" />
  </div>

  <!-- Pile 1-->
  <div class="about-pile">
    {% assign num_foreground = 3 %}

    <!-- Background photos -->
    {%- for image in about.bts1.images offset: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}

    <!-- Foreground photos -->
    {%- for image in about.bts1.images limit: num_foreground %}
      <div class="about-pile-transformable about-pile-image-container about-pile-image-foreground">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}


    <!-- Nicknacks-->
    <div class="about-pile-transformable draggable nicknack about-pile-image-foreground">
      <img class="draggable-image" src="/assets/img/memorabilia/mingus.jpeg" />
    </div>

    <div class="about-pile-transformable draggable nicknack about-pile-image-foreground">
      <img class="draggable-image" src="/assets/img/memorabilia/dbz-buu.png" />
    </div>

  </div>

  <!-- Services -->
  <div class="about-services">
    <div class="about-services-title">
      our services
    </div>
    <div class="about-services-body">
      {%- for service in about.services.services -%}
        <div class="about-service">
          <div class="about-service-title">
            {{ service.title }}
          </div>
          <div class="about-service-description">
            {{ service.desc }}
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>

  <!-- Pile 2-->
  {% comment %} <div class="about-pile">

    {%- for image in about.bts2.images -%}
      <div class="about-pile-image-container">
        <img class="about-pile-image" src="{{ image }}" />
      </div>
    {%- endfor -%}
  </div> {% endcomment %}


  <!-- Call to Action -->
  <div class="about-call">
    <span class="about-call-text">
      interested in collaborating?
    </span>
    <button class="about-call-button">
      hit us up
    </button>
  </div>
</div>